<!doctype html>
<html ng-app="tutorialApp" ng-controller="LessonController" lang="en">
  <head>
    <title>LS Interactive Tutorial</title>
    <link rel="stylesheet" href="style.css">

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="tutorialController.js"></script>

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="tutorial">
          <nav class="section home">
            <a href="home.html">
              <i class="material-icons">keyboard_backspace</i>
              <span>Tracing Academy</span>
            </a>
          </nav>
          <nav class="section sublesson">
            <h1>{{sublessonname}}</h1>
          </nav>
          <nav class="section lesson">
            <h2>LESSON {{curr_lesson+1}} IN {{lesson.name}}</h2><hr>
          </nav>
          <nav class="section content">
            {{content}}
          </nav>
          <div class="row pagination section">
            <div class="col-4">
              <button type="button" class="btn btn-outline-secondary back" ng-click="back()">Back</button>
            </div>
            <button type="button" class="col-8 btn btn-primary" ng-click="next()">Continue</button>
          </div>
        </div>
        <div class="workspace">
          <div class="row">
            <div class="col-6">
              code iframe goes here
            </div>
            <div class="col-6">
              ls trace iframe goes here
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
